name: Publish nuget package

on:
  release:
    types: 
    - published
    branches: 
    - master
  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Restore dependencies
        run: dotnet restore ProjectionTools.slnx
      - name: Build
        run: dotnet build -c Release -p:ContinuousIntegrationBuild=true --no-restore ProjectionTools.slnx
      - name: Test
        run: dotnet test -c Release /p:CollectCoverage=true --no-build --no-restore --verbosity normal ProjectionTools.Tests/ProjectionTools.Tests.csproj
      - name: Pack nugets
        run: dotnet pack -c Release --no-build --no-restore --output . ProjectionTools/ProjectionTools.csproj
      - name: Push nupkg to NuGet
        run: dotnet nuget push "*.nupkg" --api-key ${{secrets.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json
